# ===================================================================
# artella-plugins-about requirements file
# ===================================================================

artella-plugins-core